/** Colors *******************************************/
$bg: #1e1e2e;
$bg-alt: #313244;
$fg: #cdd6f4;
$fg-alt: #bac2de;
$red: #f38ba8;
$green: #a6e3a1;
$yellow: #f9e2af;
$orange: #fab387;
$blue: #89b4fa;
$purple: #cba6f7;
$cyan: #74c7ec;
$gray: #565f89;
$gray-alt: #292E42;

@import "./System-Menu/eww.scss";
@import "./Misc/eww.scss";
@import "./Main/eww.scss";
